.form-control {
  color: red;
}
.error input,
.error textarea {
  outline: none;
  border: solid red 1px;
}
.formSummaryError {
  display: block;
  width: auto;
  border: red 1px solid;
  padding: 5px;
  margin: 5px 0;
  color: #ef664c;
}
