.profileData {
  padding: 10px;
}
.profileData img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.wrapperContacts {
  display: flex;
}
.contacts {
  padding: 5px;
}
.contacts:nth-child(1) {
  font-weight: bold;
}
