.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}
.dialog a {
  color: #000;
}
.dialog .active {
  color: gold;
}

.dialog + .dialog {
  margin-top: 20px;
}

.messanges {
  padding: 10px;
}
